<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">YoyoMooc学生管理</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> 首页
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="student">
                <span class="oi oi-plus" aria-hidden="true"></span> 学生列表
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="databingdingdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> 模型绑定验证
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chatmessage">
                <span class="oi oi-plus" aria-hidden="true"></span> 聊天室demo
            </NavLink>
        </li>

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="example/exampleform">
                <span class="oi oi-plus" aria-hidden="true"></span> 演示Demo
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="example/formsValidation">
                <span class="oi oi-plus" aria-hidden="true"></span> 表单验证Demo
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
