@page "/error"


<h1 class="text-danger">错误.</h1>
<h2 class="text-danger">处理您的请求时发生错误。</h2>

<h3>开发模式</h3>
<p>
	切换到<strong>Development</strong>环境将显示有关所发生错误的更多详细信息。
</p>
<p>
	<strong>开发环境不应该为已部署的应用程序启用</strong>。
	会导致向终端用户显示敏感信息的异常。
	对于本地调试，请将<strong>Development</strong>环境变量设置为<strong>ASPNETCORE_ENVIRONMENT</strong>环境变量为<strong>Development</strong>，以启用<strong>Development</strong>环境。
	并重新启动应用程序。
</p>

 